{
   "defaultGameMode" : "ZerothGameMode",
   "inputAxes" : [
      {
         "bindings" : [
            {
               "gamepadAxis" : "Axis4",
               "gamepadAxisDeadZone" : 0.2,
               "range" : [ 0, 1 ],
               "type" : "GamepadAxis"
            },
            {
               "gamepadAxis" : "Axis5",
               "gamepadAxisDeadZone" : 0.2,
               "range" : [ 0, -1 ],
               "type" : "GamepadAxis"
            }
         ],
         "name" : "yaw"
      },
      {
         "bindings" : [
            {
               "gamepadAxis" : "Axis3",
               "gamepadAxisDeadZone" : 0.2,
               "range" : [ 1, -1 ],
               "type" : "GamepadAxis"
            }
         ],
         "name" : "pitch"
      },
      {
         "bindings" : [
            {
               "gamepadAxis" : "Axis2",
               "gamepadAxisDeadZone" : 0.2,
               "range" : [ -1, 1 ],
               "type" : "GamepadAxis"
            },
            {
               "key" : "Q",
               "range" : [ 0, -1 ],
               "type" : "Key"
            },
            {
               "key" : "E",
               "range" : [ 0, 1 ],
               "type" : "Key"
            }
         ],
         "name" : "roll"
      },
      {
         "bindings" : [
            {
               "acceleration" : 5,
               "gamepadButton" : "Button7",
               "range" : [ 0, 1 ],
               "type" : "GamepadButton"
            },
            {
               "acceleration" : 5,
               "gamepadButton" : "Button6",
               "range" : [ 0, -1 ],
               "type" : "GamepadButton"
            }
         ],
         "name" : "thrust"
      }
   ],
   "paths" : [ "Hect", "Zeroth" ],
   "videoMode" : {
      "bitsPerPixel" : 32,
      "fullscreen" : false,
      "height" : 900,
      "width" : 1440
   }
}
