{
    "inputAxes": [
        {
            "bindings": [
                {
                    "range": [
                        0,
                        1
                    ],
                    "type": "GamepadAxis",
                    "gamepadAxis": "Axis4",
                    "gamepadAxisDeadZone": 0.2
                },
                {
                    "range": [
                        0,
                        -1
                    ],
                    "type": "GamepadAxis",
                    "gamepadAxis": "Axis5",
                    "gamepadAxisDeadZone": 0.2
                }
            ],
            "name": "yaw"
        },
        {
            "bindings": [
                {
                    "range": [
                        1,
                        -1
                    ],
                    "type": "GamepadAxis",
                    "gamepadAxis": "Axis3",
                    "gamepadAxisDeadZone": 0.2
                }
            ],
            "name": "pitch"
        },
        {
            "bindings": [
                {
                    "range": [
                        -1,
                        1
                    ],
                    "type": "GamepadAxis",
                    "gamepadAxis": "Axis2",
                    "gamepadAxisDeadZone": 0.2
                },
                {
                    "range": [
                        0,
                        -1
                    ],
                    "type": "Key",
                    "key": "Q"
                },
                {
                    "range": [
                        0,
                        1
                    ],
                    "type": "Key",
                    "key": "E"
                }
            ],
            "name": "roll"
        },
        {
            "bindings": [
                {
                    "range": [
                        0,
                        1
                    ],
                    "acceleration": 5,
                    "type": "GamepadButton",
                    "gamepadButton": "Button7"
                },
                {
                    "range": [
                        0,
                        -1
                    ],
                    "acceleration": 5,
                    "type": "GamepadButton",
                    "gamepadButton": "Button6"
                }
            ],
            "name": "thrust"
        }
    ]
}