{
    "inputAxes": [
        {
            "name": "yaw",
            "bindings": [
                {
                    "type": "JoystickAxis",
                    "joystickAxis": "Axis4",
                    "joystickAxisDeadZone": 0.2,
                    "range": [ 0, 1 ]
                },
                {
                    "type": "JoystickAxis",
                    "joystickAxis": "Axis5",
                    "joystickAxisDeadZone": 0.2,
                    "range": [ 0, -1]
                }
            ]
        },
        {
            "name": "pitch",
            "bindings": [
                {
                    "type": "JoystickAxis",
                    "joystickAxis": "Axis3",
                    "joystickAxisDeadZone": 0.2,
                    "range": [ 1, -1]
                }
            ]
        },
        {
            "name": "roll",
            "bindings": [
                {
                    "type": "JoystickAxis",
                    "joystickAxis": "Axis2",
                    "joystickAxisDeadZone": 0.2,
                    "range": [ -1, 1]
                },
                {
                    "type": "Key",
                    "key": "Q",
                    "range": [ 0, -1 ]
                },
                {
                    "type": "Key",
                    "key": "E",
                    "range": [ 0, 1 ]
                }
            ]
        },
        {
            "name": "thrust",
            "bindings": [
                {
                    "type": "JoystickButton",
                    "joystickButton": "Button7",
                    "acceleration": 5,
                    "range": [ 0, 1 ]
                },
                {
                    "type": "JoystickButton",
                    "joystickButton": "Button6",
                    "acceleration": 5,
                    "range": [ 0, -1 ]
                }
            ]
        }
    ]
}